# Excel spreadsheets that contain the Tweets
*.xlsx

# Pipenv Pipfile
Pipfile

# VSCode settings, personalised for this project
.vscode

# Folder containing all data
data

# Environment variables which contain Twitter API access keys
.env